body {
	background-color: #ffffff;
	background-image: url('/src/img/background.svg');
	background-attachment: fixed;
	background-size: cover;
}

.bg-color-white {
	background-color: white;
}

.bg-color-egatur {
	background-color: #0066cc;
}

/*Navbar Icons center*/
.abs-center-x {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

/*Footer*/
.footer {
	color: white;
}
.footer .links ul {
	list-style-type: none;
}
.footer .links li a {
	color: white;
	transition: color 0.2s;
}
.footer .links li a:hover {
	text-decoration: none;
	color: #4180cb;
}
.footer .about-company i {
	font-size: 25px;
}
.footer .about-company a {
	color: white;
	transition: color 0.2s;
}
.footer .about-company a:hover {
	color: #4180cb;
}
.footer .location i {
	font-size: 18px;
}
.footer .copyright p {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.carousel-indicators li {
	border-radius: 12px;
	width: 12px;
	height: 12px;
	background-color: #404040;
}
.carousel-indicators li {
	border-radius: 12px;
	width: 12px;
	height: 12px;
	background-color: #404040;
}
.carousel-indicators .active {
	background-color: white;
	max-width: 12px;
	margin: 0 3px;
	height: 12px;
}
.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


/*Card Sign In*/

.card-signin {
	border: 0;
	border-radius: 1rem;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
	margin-bottom: 2rem;
	font-weight: 300;
	font-size: 1.5rem;
}

.card-signin .card-body {
	padding: 2rem;
}




/*
Colores 
#0066CC (azul del logo)
#3183d4 (azul del navbar)
*/
